*{
    background-color: #99e0f2;
}
img{
    width: 40%;
    
    
    
}
body{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    
 

}